
/* -------- Message route -------- */
.chats {
    position: fixed;
    width: 35%;
    height: 89%;
}

.chat-title {
    box-shadow: .1px .1px 2px #ccc;
    height: 12%;
    font-size: large;
}

.chat-title h3 {
    padding-top: 25px;
    padding-left: 25px;
}

.chats .people {
    overflow-y: auto;
    height: 100%;
}

.history {
    width: 100%;
    height: 12vh;
    box-shadow: .1px .1px 2px #ccc;
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
}
.history .sender-img{
    border-radius: 50%;
    box-shadow: .2px .2px 15px #ccc;
    grid-row: span 2;
    justify-self: center;
    align-self: center;
}
.history .sender-name{
    align-self: center;
    text-transform: capitalize;
    margin-inline: 20px;
}
.history .short-msg{
    align-self: center;
    margin-inline: 20px;
    opacity: .7;
}
.history .common{
    position: absolute;
    right: 10%;
}
.history .unread{
    width: 20px;
    height: 20px;
    background: rgb(154, 245, 154);
    color: black;
    font-weight: 700;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
}
.history .sentTime{
    bottom: 10%;
}

.current {
    width: 65%;
    height: 88vh;
    position: fixed;
    right: 0%;
    bottom: 0%;
    overflow-y: auto;
}
.current h1 {
    font-family: monospace;
}
@media screen and (max-width: 800px) {
    .current {
        display: none;
    }
    .chats {
        width: 100%;
        height: 79%;
      }
}
