*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
head{
    width: "100%";
    height: "9vh";
    box-shadow: ".2px .2px 5px #ccc";
}
nav{
    border-bottom: "2px solid rgb(154, 245, 154)";
    height: "max-content"
}