* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    height: 100vh;
    display: flex;
}

::-webkit-scrollbar {
    width: .5em;
}

::-webkit-scrollbar-track {
    background-color: #e2dddd;
}

::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
}

.main {
    width: 65%;
    height: 100%;
    position: fixed;
    padding-top: 80px;
    right: 0%;
    bottom: 0%;
    /* border: 2px solid black; */
    overflow-y: scroll;
    overflow-x: hidden;
}

.each-post {
    width: 97%;
    height: 70vh;
    /* border: 2px solid black; */
}

.aside {
    position: fixed;
    height: 88%;
    width: 35%;
    bottom: 0;
}

@media screen and (max-width: 800px) {
    .aside {
        display: none;
    }

    .main {
        position: relative;
        height: 90%;
        width: 100%;
        padding-top: 0;
    }

    .each-post {
        width: inherit
    }

    .create-post {
        background: #3dbacb;
        position: fixed;
        width: 70px;
        height: 70px;
        bottom: 15%;
        right: 5%;
        border-radius: 50%;
    }
}